<% if flash[:alert] %>
  <p id="notice">
    <%= flash[:alert] %></p>
<% end %>
<%= form_tag({}, class: "form-vertical") do %>
  <label for="name">Username:</label>
  <%= text_field_tag :name, params[:name] %>
  <label for="password">Password:</label>
  <%= password_field_tag :password, params[:password] %>
  <br />
  <%= submit_tag "Login", class: "btn" %>
<% end %>
