<h2>Projects</h2>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Owner</th>
      <th>Contributors</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.owner_name %></td>
        <td><%= project.contributors.count %></td>
        <td><%= link_to 'Destroy', project, method: :delete, class: 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Project', new_project_path %>
