<!DOCTYPE html>
<html>
  <head>
    <title>leano</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Render HEADER -->
    <%= render :partial => 'layouts/header', :locals => { :current_user => @logged_user } %>
    <!-- End HEADER -->

    <!-- Body container -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- End Body container -->

  </body>
</html>
